body{
  background-color: black;
}
.App{
  display: flex;
  justify-content: center;
}
Button{
  top: 50%;
  background-color: transparent;
  color: #ed5107;
  border: 1px solid #ed5107;
  padding: 16px 45px;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
}
button::before{
  content: "";
  position: absolute;
  bottom: 0; 
  z-index: -1;
  right:100%;
  transition: all 0.5s ease-out;
  background-color: #ed5107;
  width: 100%;
  height: 100%;
}
button:hover::before{
 right:0%;
 
}
button:hover{
  transition: all 0.5s ease-out;
  color: black;
}